.step{
    
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    
    header{
        margin-bottom: 24px;
        .wrapper{
            h1{
                color:hsl(213,96%,18%);
                font-size: 36px;
                font-weight: 700;
            }
            h3{
                color:hsl(231, 11%, 63%);
            }
        }
    }
    main{
        flex: 1;
    }
    footer{
        .wrapper{
            display: flex;
            justify-content: space-between;

            .next{
               // margin-left: auto;
                background-color: hsl(213,96%,18%);
                color: white;
                font-size: 18px;
                padding: 12px 24px;
                border-radius: 8px;
                margin-left: auto;
            }
            
            .go-back{
                color:hsl(231, 11%, 63%);
                background: none;
                font-size: 18px;
                margin-right: auto;
                &:hover{
                    opacity: 1;
                }
            }
        }
        
    }
}

.step1{
    display: flex;
    flex-direction: column;
    gap: 24px;

    .form-item{
        display: flex;
        flex-direction: column;
        gap: 6px;
        label{
            color: hsl(213, 96%, 18%);
        }
        input{
            padding: 12px;
            font-size: 16px;
            border: 1px solid  hsl(229, 24%, 87%);
            border-radius: 8px;
            color: hsl(213, 96%, 18%);
            font-weight: 500;
            transition: border-color 200ms ease 0s;
            
        }

        .input-error{
            border-color: red;
        }

        .error{
            font-size: 14px;
            color: red;
            position: absolute;
            right: 0;
        }
    }
}

.step2{
    display: flex;
    flex-direction: column;
    gap:24px;

    .options{
        display: flex;
        justify-content: space-between;

        .label{
            width: 30%;
            padding: 16px;
            border:1px solid hsl(229, 24%, 87%);
            border-radius: 8px;
            cursor: pointer;
            &--selected{
                border:1px solid  hsl(243, 100%, 62%);
            }
            

            &:hover{
                border:1px solid hsl(243, 100%, 62%);
            }
            
            img{
                margin-bottom: 46px;
            }
            input{
                display: none;
            }
            .title{
                font-size: 18px;
                color: hsl(213, 96%, 18%);
                font-weight: 700;
            }
            .subtitle{
                font-size: 14px;
                color:hsl(231, 11%, 63%);
            }
            .description{
                font-size: 12px;
                color:hsl(231, 11%, 63%);
            }
        }
        
    }

    

    .time-options{
        display: flex;
        justify-content: flex-start;
        gap:15px;
        .button{
            color:  hsl(231, 11%, 63%);
            border:1px solid  hsl(229, 24%, 87%);
            background: none;
            padding: 12px;
            border-radius: 8px;
            font-size: 15px;
            font-weight: 600;
            &:hover{
                border:1px solid  hsl(243, 100%, 62%);
                color: hsl(243, 100%, 62%)
            }
            &--selected{
                border:1px solid hsl(243, 100%, 62%);
                color: hsl(243, 100%, 62%)
            }
        }
    }

}

.step3{
    .options{
        display: flex;
        flex-direction: column;
        gap: 24px;
        .label{
            display: flex;
            align-items: center;
            padding: 24px;
            gap: 16px;
            border:1px solid hsl(229, 24%, 87%);
            border-radius: 8px;
            &--selected{
                border:1px solid hsl(243, 100%, 62%);
                color: hsl(243, 100%, 62%)
            }
            .content{
                flex: 1 1 0%;
                h4{
                    font-weight: 500;
                    margin-bottom: 4px;
                    color: hsl(213,96%,18%);
                }
                p{
                    font-size: 14px;
                    color: hsl(231, 11%, 63%);
                }
            }
            p{
                color: hsl(213,96%,18%);
                font-weight: 500;
            }
        }
    }
    
    
}

.step4{
    .content{
        display: flex;
        flex-direction: column;
        gap: 24px;

        h4,h6{
            font-size: 20px;
        }
        .c-item-01{
              
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
           
            color: hsl(213, 96%, 18%); 
            font-weight: 500;
        }
        .plan{
            padding: 24px;
            background-color: hsl(217, 100%, 97%);
        }
        .addons{
            color:hsl(231, 11%, 63%);
            padding: 0 24px;
        }
        .total{
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            padding: 24px 24px 0px;
            border-top: 1px solid hsl(231, 11%, 63%);;

            h4{
                color:hsl(231, 11%, 63%);
            }

            
        }
        }
}
